<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author=changjin wei(魏昌进) -->
<!-- since=2021-11-22 -->
<mapper namespace="plus.wcj.heifer.plugin.rbac.dao.org.RbacTenantDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.wcj.heifer.plugin.rbac.entity.tenant.RbacTenant">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, create_time, create_by, update_time, update_by
    </sql>

</mapper>
