<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author=changjin wei(魏昌进) -->
<!-- since=2021-07-03 -->
<mapper namespace="plus.wcj.heifer.boot.repository.dao.rbac.user.RbacUserManageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.wcj.heifer.boot.entity.rbac.user.RbacUserManage">
        <id column="id" property="id" />
        <result column="rbac_user_id" property="rbacUserId" />
        <result column="is_all_power" property="allPower" />
        <result column="is_all_authority" property="allAuthority" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rbac_user_id, is_all_power, is_all_authority, create_time, create_by, update_time, update_by
    </sql>

</mapper>
