<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author=changjin wei(魏昌进) -->
<!-- since=2021-07-03 -->
<mapper namespace="plus.wcj.heifer.boot.repository.dao.rbac.user.RbacUserDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.wcj.heifer.boot.entity.rbac.user.RbacUser">
        <id column="id" property="id" />
        <result column="rbac_org_id" property="rbacOrgId" />
        <result column="username" property="username" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="is_account_non_expired" property="accountNonExpired" />
        <result column="is_account_non_locked" property="accountNonLocked" />
        <result column="is_credentials_non_expired" property="credentialsNonExpired" />
        <result column="is_enabled" property="enabled" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        rbac_org_id,
        username,
        phone,
        email,
        password,
        nickname,
        is_account_non_expired,
        is_account_non_locked,
        is_credentials_non_expired,
        is_enabled,
        create_time,
        create_by,
        update_time,
        update_by
    </sql>
</mapper>
