<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.wcj.heifer.boot.common.security.userdetails.dao.CustomUserDetailsDao">
    <resultMap id="PermissionBaseResultMap" type="plus.wcj.heifer.boot.common.security.userdetails.Permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="type" property="type"/>
        <result column="permission" property="permission"/>
        <result column="method" property="method"/>
        <result column="sort" property="sort"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>

    <select id="selectPermissionByRoleIdList" resultMap="PermissionBaseResultMap">
        SELECT DISTINCT sec_permission.*
        FROM sec_permission,
             sec_role,
             sec_role_permission WHERE sec_role.id = sec_role_permission.role_id
                                   AND sec_permission.id = sec_role_permission.permission_id
                                   AND sec_role.id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <resultMap id="RoleBaseResultMap" type="plus.wcj.heifer.boot.common.security.userdetails.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectRoleByUserId" resultMap="RoleBaseResultMap">
        SELECT sec_role.*
        FROM sec_role,
             sec_user,
             sec_user_role
        WHERE sec_user.id = sec_user_role.user_id
          AND sec_role.id = sec_user_role.role_id
          AND sec_user.id = #{userId}
    </select>


    <resultMap id="UserBaseResultMap" type="plus.wcj.heifer.boot.common.security.userdetails.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="findUserByUsernameOrEmailOrPhone" resultMap="UserBaseResultMap">
        select
            *
        from sec_user
        where username = #{username}
           or email = #{email}
           or phone = #{phone}
    </select>

    <select id="findUserByUsernameIn" resultMap="UserBaseResultMap">
        select
            *
        from sec_user
                where username in
        <foreach collection="usernameList" item="username" index="index" open="(" close=")" separator=",">
            #{username}
        </foreach>
    </select>
</mapper>
