<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author=changjin wei(魏昌进) -->
<!-- since=2021-07-03 -->
<mapper namespace="plus.wcj.heifer.boot.repository.dao.rbac.role.RbacRoleDataPowerDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.wcj.heifer.boot.entity.rbac.role.RbacRoleDataPower">
        <id column="id" property="id" />
        <result column="rbac_role_id" property="rbacRoleId" />
        <result column="rbac_dept_id" property="rbacDeptId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        rbac_role_id,
        rbac_dept_id,
        create_time,
        create_by
    </sql>
</mapper>
