<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.wcj.heifer.boot.mapper.rbac.RbacDeptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.wcj.heifer.boot.entity.rbac.RbacDeptDo">
        <id column="id" property="id" />
        <result column="tenant_org_id" property="tenantOrgId" />
        <result column="tenant_client_id" property="tenantClientId" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_org_id, tenant_client_id, name
    </sql>

</mapper>
