<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.wcj.heifer.boot.mapper.rbac.RbacUserRoleRelDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.wcj.heifer.boot.entity.rbac.RbacUserRoleRelDo">
        <id column="id" property="id" />
        <result column="rbac_user_id" property="rbacUserId" />
        <result column="brac_role_id" property="bracRoleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rbac_user_id, brac_role_id
    </sql>

</mapper>
