<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author=changjin wei(魏昌进) -->
<!-- since=2021-11-22 -->
<mapper namespace="plus.wcj.heifer.plugin.rbac.dao.account.RbacAccountDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.wcj.heifer.plugin.rbac.pojo.entity.account.RbacAccount">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="is_account_non_expired" property="accountNonExpired" />
        <result column="is_account_non_locked" property="accountNonLocked" />
        <result column="is_credentials_non_expired" property="credentialsNonExpired" />
        <result column="is_enabled" property="enabled" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        username,
        phone,
        email,
        password,
        nickname,
        is_account_non_expired,
        is_account_non_locked,
        is_credentials_non_expired,
        is_enabled,
        create_time,
        create_by,
        update_time,
        update_by
    </sql>


    <select id="selectAccountByPhone" resultType="plus.wcj.heifer.plugin.rbac.pojo.dto.AccountDto">
        SELECT ra.id,
        ra.username,
        ra.phone,
        ra.email,
        ra.password,
        ra.nickname,
        ra.is_account_non_expired,
        ra.is_account_non_locked,
        ra.is_credentials_non_expired,
        ra.is_enabled
        FROM rbac_account ra
        WHERE phone = #{phone}
    </select>


    <select id="selectPermissionBy" resultType="java.lang.String">
        SELECT DISTINCT rp.permission
        FROM rbac_permission rp
        WHERE rp.id IN (SELECT rbac_permission_id
        FROM rbac_account_authority raa
        WHERE rbac_account_id = #{id}
        <if test="roleList != null and roleList.size() != 0">
            UNION
            SELECT rbac_permission_id
            FROM rbac_role_authority rra
            WHERE rbac_role_id IN
            <foreach item="item" index="index" collection="roleList" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </if>
        )
    </select>
    <select id="getAllPower" resultType="java.lang.Long">
        SELECT radp.rbac_dept_id
        FROM rbac_account_data_power radp
        WHERE radp.rbac_account_id = #{id}
        UNION
        SELECT rrdp.rbac_dept_id
        FROM rbac_role_data_power rrdp
        WHERE rrdp.rbac_role_id IN (SELECT rarr.rbac_role_id FROM rbac_account_role_rel rarr WHERE rarr.rbac_account_id = #{tenantId})
    </select>


    <select id="selectRoleBy" resultType="plus.wcj.heifer.plugin.rbac.pojo.dto.RoleDto">
        SELECT rr.id,
        rr.name
        FROM rbac_role rr
        WHERE EXISTS(SELECT 1 FROM rbac_account_role_rel rarr WHERE rarr.rbac_account_id = #{id} AND rr.id = rarr.rbac_role_id)
        AND rr.rbac_tenant_id = #{tenantId}
    </select>

    <select id="selectTenantBy" resultType="plus.wcj.heifer.plugin.rbac.pojo.dto.TenantDto">
        SELECT rt.id,
        rt.name
        FROM rbac_tenant rt
        WHERE id IN (SELECT ram.rbac_tenant_id FROM rbac_account_manage ram WHERE ram.rbac_account_id = #{id})
    </select>
</mapper>
