<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="plus.wcj.heifer.boot.dao.TestDao">
    <select id="test1" resultType="java.lang.Long">
        SELECT *
        FROM
        <include refid="plus.wcj.heifer.boot.extension.dao.SqlTemplate.tenant">
            <property name="tableAlias" value="rbac_user_manage" />
        </include>
    </select>


    <select id="test2" resultType="java.lang.Long">
        SELECT id
        FROM rbac_user
        WHERE id IN #{hahah,jdbcType=ARRAY}
    </select>
</mapper>
