<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- author=weichangjin (魏昌进) -->
<!-- since=2022-04-23 -->
<mapper namespace="plus.wcj.heifer.plugin.iam.dao.IamAccountDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="plus.wcj.heifer.plugin.iam.entity.IamAccount">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="is_enabled" property="enabled" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        username,
        phone,
        email,
        password,
        nickname,
        is_enabled,
        create_time,
        create_by,
        update_time,
        update_by
    </sql>

</mapper>
